[websvn-include:user_greeting.tmpl]     
<div id="wrap">
    <h2 class="regular">Error [websvn:error_id]: [websvn:error_title]</h2>
    <p>[websvn:error_desc]</p>
    <p>[websvn:error_gen]</p>
</div>
